/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
  width: 270px;
  height: 600px;
  margin-top: 20px;
  margin-left:20px;
  margin-bottom: 100px;
}


.foto {
  width: 270px;
  height: auto;
  }
.logo {
  border-radius: 50%;
  background-color: #b92e81;
}

.obsah {
  background-color: #31363b;
  font-family: 'Source Sans Pro';
  font-style: bold;
  padding: 20px;
}

.odkazy {
  background-color: #31363b;
  margin: 0;
  padding: 0;
}

.jmeno{
  color: white;
  font-family: 'Montserrat';
}
p {color:#bdc3c7} 

.odkazy li {
  display: inline-block;
  padding: 15px;
  margin:0;

}

a {
  text-decoration: none;
  color: #bdc3c7;
  font-family: 'Montserrat';
}


li{
  border-bottom:2px solid #3f464d;
  border-top: 2px solid #3f464d;
}

.portfolio a {padding: 15px;
  text-align: center;
  box-shadow: black 5px 5px 10px;
  width:270px;
}

.facebook a {padding: 10px;
text-align: center;
box-shadow: black 5px 5px 10px;}

.twitter a {padding: 10px;
text-align: center;
box-shadow: black 5px 5px 10px;}


.portfolio a:active,
.portfolio a:focus,
.portfolio a:hover {
  background-color: #e74c3c;
}


.facebook a:active,
.facebook a:focus,
.facebook a:hover {
  background-color: #3b5998;}

.twitter a:active,
.twitter a:focus,
.twitter a:hover{
    background-color: #1da1f2;}

.hlavicka {
  position: relative;
}

.logo {
  position:absolute;
  bottom: -10%;
  right: 15%;
}